BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
ContinuationIndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: None

BreakBeforeBraces: Allman

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignOperands: Align
AlignTrailingComments: true
AlignEscapedNewlines: Left

BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
PenaltyBreakBeforeFirstCallParameter: 1

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[a-z_]+>'
    Priority: 1
  - Regex: '^<Q[A-Za-z]+>'
    Priority: 2
  - Regex: '^"'
    Priority: 3

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInContainerLiterals: false
Cpp11BracedListStyle: true

ReflowComments: true
SpacesBeforeTrailingComments: 2

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never

BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
AllowAllConstructorInitializersOnNextLine: false

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeConceptDeclarations: Always

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakStringLiterals: true

FixNamespaceComments: true
CompactNamespaces: false

PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 50
PenaltyBreakComment: 300
PenaltyExcessCharacter: 1000000

SortUsingDeclarations: true
InsertTrailingCommas: None
