/*
 * favorito - Qt Style Sheet
 * Created: 29/07/2026
 *
 * QSS Toolkit Quick Tips:
 * - Press Ctrl+Space (Cmd+Space) for intelligent auto-completion
 * - Use Ctrl+/ (Cmd+/) to comment/uncomment code blocks
 * - Use the QSS Colors panel and editor context menu to save or insert colors
 */

/* Add your QSS styles here */

#btn_favorito_login_item,
#btn_favorito_note_,
#btn_favorito_wifi_item,
#btn_favorito_recuperacao,
#btn_favorito_key_item,
#btn_favorito_file_item,
#btn_favorito_identidade_item,
#btn_favorito_cartao_item {
     background-image: url(:/images/icons/normal/logo_favorite.png);
    background-position: center;
    background-repeat: no-repeat;
}

#btn_favorito_login_item:hover,
#btn_favorito_note_:hover,
#btn_favorito_wifi_item:hover,
#btn_favorito_recuperacao:hover,
#btn_favorito_key_item:hover,
#btn_favorito_file_item:hover,
#btn_favorito_identidade_item:hover,
#btn_favorito_cartao_item:hover {
    background-color: rgba(107, 140, 255, 0.14);
}


