/*
 * toggle_password - Qt Style Sheet
 * Created: 29/07/2026
 *
 * Botao de mostrar/ocultar senha reaproveitado entre os itens de lista.
 */

#btn_toggle_chave_valor,
#btn_toggle_senha_login,
#btn_toggle_2fa_login,
#btn_toggle_codigo_recuperacao_login,
#btn_toggle_cpf_identidade,
#btn_toggle_rg_identidade,
#btn_toggle_cnh_identidade,
#btn_toggle_numero_cartao,
#btn_toggle_cvv_cartao {
    background-image: url(:/images/16x16/pwoff.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}