/*
 * toggle_password - Qt Style Sheet
 * Created: 29/07/2026
 *
 * Botao de mostrar/ocultar senha reaproveitado entre os itens de lista.
 */

#btn_oculta_passoword_key,
#btn_oculta_passoword_login,
#btn_oculta_passoword_login_2,
#btn_oculta_passoword_login_3,
#btn_oculta_passoword_identidade,
#btn_oculta_passoword_identidade_2,
#btn_oculta_passoword_identidade_3,
#btn_oculta_passoword_cartao,
#btn_oculta_passoword_cartao_2 {
    background-image: url(:/images/16x16/pwoff.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}