/*
 * back_button - Qt Style Sheet
 * Created: 29/07/2026
 *
 * Botao de "voltar" reaproveitado entre as paginas de criar/abrir cofre.
 */

#btn_back,
#back_open_cofre {
    background-color: none;
    border-radius: none;
}
#btn_back:hover,
#back_open_cofre:hover {
    background-color: rgb(56, 67, 110);
    border: none;
    border-radius: 8px;
}