/*
 * barra_titule - Qt Style Sheet
 * Created: 18/07/2026
 *
 * QSS Toolkit Quick Tips:
 * - Press Ctrl+Space (Cmd+Space) for intelligent auto-completion
 * - Use Ctrl+/ (Cmd+/) to comment/uncomment code blocks
 * - Use the QSS Colors panel and editor context menu to save or insert colors
 */

/* Add your QSS styles here */

QFrame#barra_titule_{
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid rgb(73, 83, 123);
  background-color: rgb(35, 44, 77);
}


#Logo_Kep {
background-image: url(:/images/16x16/logo_keepcold_.png);
background-position: center;
background-repeat: repeat;
}

QFrame {
  background: none;
  border-radius: none;
}


#btn_close_window,
#btn_max_window,
#btn_min_window {
    background-position: center;
    background-color: none;
    border-radius: none;
}
#btn_close_window {
    background-image: url(:/images/46x35/close_window.png);
}
#btn_max_window {
    background-image: url(:/images/46x35/max_window.png);
}
#btn_min_window {
    background-image: url(:/images/46x35/min_window.png);
}

#btn_close_window:hover {
  background: rgb(56, 67, 110);
  background-image: url(:/images/46x35/close_window.png);
  background-position: center;
}