/*
 * page_valueMain - Qt Style Sheet
 * Created: 21/07/2026
 *
 * QSS Toolkit Quick Tips:
 * - Press Ctrl+Space (Cmd+Space) for intelligent auto-completion
 * - Use Ctrl+/ (Cmd+/) to comment/uncomment code blocks
 * - Use the QSS Colors panel and editor context menu to save or insert colors
 */

/* Add your QSS styles here */

QPushButton {
    background-position: center;
    background-repeat: no-repeat;
    background: rgb(69, 81, 131);
    border-radius: 20px;
}
QLineEdit#line_search {
    background-image: url(:/images/16x16/logo_search.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-color: rgb(56, 67, 110);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.08);
    padding-left: 30px;
}

QLineEdit#line_search:focus{
  border: 1px solid #6b8cff;
}
QStackedWidget#stackedWidget_2 {
   background: rgb(26, 34, 64);
   border-left: 2px solid rgba(255,255,255,0.08)
}

#listView,#frame_19{
  background-color:  #232c4d
}

#btn_search {
  background: rgb(56, 67, 110);
   background-image: url(:/images/18x18/logo_adicionar.png);
   border: 1px solid rgba(255,255,255,0.08);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

QFrame#frame_19 {
 background-color: #232c4d;
 border-bottom: 2px solid rgba(255,255,255,0.08)
}
QFrame#Frame_item{
background: rgb(35, 44, 77);
border-right: 2px solid rgba(255,255,255,0.08)
}